%% -*- erlang -*-
%% ex: ft=erlang ts=4 sw=4 et
{sub_dirs, ["apps/gandalf", "rel"]}.

{require_otp_vsn, "R15|R16"}.

{erl_opts, [
    {parse_transform, lager_transform}, 
    {lager_truncation_size, 1024},
    debug_info, 
    fail_on_warning,
    warnings_as_errors
    ]}.

{deps, [
        {riak_kv, ".*",
         {git, "git://github.com/basho/riak_kv.git", {tag, "1.4.7"}}},
        %{eleveldb, ".*",
         %{git, "git://github.com/basho/eleveldb.git", {tag, "1.4.7"}}},
        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}}
       ]}.
