%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps/", "../apps"]},
       {rel, "gandalf", "1",
        [
         kernel,
         stdlib,
         sasl,
         gandalf
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "gandalf"},
       {profile, embedded},
       %% {excl_archive_filters, [".*"]}, %% 不要在lib 目录下生成ez归档文件
       %%{mod_cond, derived}, %% 去除没有用到的依赖lib
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, gandalf, [{incl_cond, include}]}
      ]}.

{target_dir, "gandalf"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},

           %% Copy base files for starting and interacting node.
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/runner", "bin/gandalf"},
           {template, "files/env.sh", "lib/env.sh"},
           {template, "files/app_epath.sh", "lib/app_epath.sh"},


           %% Copy SSL Certs
           {template, "files/cert.pem", "etc/cert.pem"},
           {template, "files/key.pem", "etc/key.pem"},

           %% Copy additional bin scripts.
           {template, "files/runner-admin", "bin/gandalf-admin"},
           {template, "files/runner-debug", "bin/gandalf-debug"},
           %{template, "files/search-cmd", "bin/search-cmd"},

           %% Copy config files.
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}

           ]}.
