%% ex: ft=erlang ts=4 sw=4 et
%%

%%
%% etc/vm.args
%%

{node,                  "gandalf1@127.0.0.1"}.
{cookie,                "gandalf"}.

%%
%% etc/app.config
%%
{web_ip,                "127.0.0.1"}.
{web_port,              "18081"}.
{handoff_port,          "18071"}.

{app_http_port, "18091"}.
{app_server_port, "18061"}.

