%% ex: ft=erlang ts=4 sw=4 et
%%

%%
%% etc/vm.args
%%

{node,                  "gandalf4@127.0.0.1"}.
{cookie,                "gandalf"}.

%%
%% etc/app.config
%%
{web_ip,                "127.0.0.1"}.
{web_port,              "18084"}.
{handoff_port,          "18074"}.

{app_http_port, "18094"}.
{app_server_port, "18064"}.

